<div class="container">
    <a [routerLink]="['./new']" class="btn btn-primary">New</a>

    <div class="row mt-2" *ngFor="let post of posts">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.excerpt}}</p>
                    <a [routerLink]="['/post', post.title]" class="btn btn-primary mr-2">Edit</a>
                    <a [routerLink]="['/post', post.title]" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>